@model IEnumerable<VSubjectSectionDetail>
@{
    ViewData["Title"] = "My Classrooms";
}

<h1>My Classrooms</h1>

<table class="table">
    <thead>
        <tr>
            <th>SubjectCode</th>
            <th>Name</th>
            <th>Section</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <td>@subject.SubjectCode</td>
                <td>@subject.SubjectName</td>
                <td>@subject.Section</td>
                <td>
                    <a asp-controller="Professor" asp-action="StudentsList" asp-route-subjectDetailId="@subject.SubjectDetailId">View Students</a>
                </td>
            </tr>
        }
    </tbody>
</table>
