@page
@model ProjectIndiaCharlie.WebAdministrator.Pages.RegisterUser.IndexModel
@{
}

    <a class="nav-link text-dark" asp-area="" asp-page="/RegisterUser/Student">Registrar estudiante</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/RegisterUser/Professor">Registrar profesor</a>
